.about-us {
  background-color: @dark-blue-grey;
  background-image: url("../../img/about-mobile@1x.png");
  background-position: 18px 0;
  background-size: 292px 352px;
  background-repeat: no-repeat;
  border-radius: 30px;
}

.about-us__wrapper {
  padding-top: 33px;

  width: 210px;
}
