.add-profile {
  position: relative;

  background-color: @pale-grey;

  &::after {
    content: "";

    position: absolute;
    top     : 67px;
    right   : 26px;

    width : 99px;
    height: 99px;

    background-image: url(../../img/rates@1x.png);
    background-size : 99px 99px;
  }
}

.add-profile__text-block-headline {
  width      : 100px;
  margin     : 0;
  padding-top: 82px;
  margin-left: 50px;
}

.add-profile__rates-list {
  margin     : 0;
  margin-left: 50px;
  padding    : 0;
}

.add-profile__rates-item {
  font-size  : 16px;
  font-weight: 300;
  line-height: 22px;
  text-align : left;
  color      : @greyish-brown;
}

.add-profile__show-modal {
  margin-left: 50px;

  font-size      : 16px;
  font-weight    : 700;
  line-height    : 16px;
  text-align     : left;
  color          : @dark-blue-grey;
  text-decoration: none;
}

.add-profile__business-tariffs {
  width: 270px;
}
