.business-tariffs {
  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: 20px;
  box-shadow: 0 20px 50px 0 @dark-slate-blue-10;
  background-color: @white;
  overflow: hidden;

  @media (min-width: @tablet-width) {
    border-radius: 30px;
  }
}

.business-tariffs__block-headline {
  margin-top: 30px;
  margin-bottom: 30px;

  @media (min-width: @tablet-width) {
    margin-top: 47px;
    margin-bottom: 50px;
  }
}

.business-tariffs__list {
  width: 219px;
  margin: 0;
  margin-bottom: 33px;
  padding: 0;

  list-style: none;

  @media (min-width: @tablet-width) {
    width: 506px;
    margin-bottom: 51px;
  }

  @media (min-width: @desktop-width) {
    width: 630px;
  }
}

.business-tariffs__item {
  display: flex;
  flex-wrap: wrap;

  padding-top: 11px;
  padding-bottom: 11px;

  &:nth-child(2) {
    padding-bottom: 8px;
  }

  &:last-child {
    border-bottom: 1px solid @black-5;
  }

  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  text-align: left;
  color: @greyish-brown;

  border-top: 1px solid @black-5;

  @media (min-width: @tablet-width) {
    flex-wrap: nowrap;
    justify-content: space-between;

    font-size: 22px;
    line-height: 28px;

    padding-top: 11px;
    padding-bottom: 16px;

    &:nth-child(2) {
      padding-bottom: 16px;
    }

  }
}

.business-tariffs__activity {
  margin: 0;
}

.business-tariffs__cost {
  margin: 0;
  width: 100%;

  @media (min-width: @tablet-width) {
    width: auto;
  }
}

.business-tariffs__close {
  width: 100%;
  padding-top: 18px;
  padding-bottom: 17px;

  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: @dark-slate-blue;

  background-color: @pale-grey-two;
  border-style: none;

  @media (min-width: @tablet-width) {
    padding-top: 39px;
    padding-bottom: 45px;

    font-size: 24px;
    line-height: 24px;

    text-transform: initial;
  }

  &:hover {
    background-color: @pale-grey-middle;
  }

  &:active {
    color: @dark-slate-blue-30;
  }
}
