.business-tariffs {
  display       : flex;
  flex-direction: column;
  align-items   : center;

  border-radius   : 20px;
  box-shadow      : 0px 20px 50px 0 @dark-slate-blue-10;
  background-color: @white;
  overflow        : hidden;
}

.business-tariffs__block-headline {
  margin-top   : 33px;
  margin-bottom: 29px;
}

.business-tariffs__list {
  min-width    : 219px;
  margin       : 0;
  margin-bottom: 33px;
  padding      : 0;

  list-style: none;
}

.business-tariffs__item {
  font-size  : 16px;
  font-weight: 300;
  line-height: 22px;
  text-align : left;
  color      : @greyish-brown;
}

.business-tariffs__activity {
  margin: 0;
}

.business-tariffs__cost {
  margin: 0;
}

.business-tariffs__close {
  width : 100%;
  height: 59px;

  font-size  : 16px;
  font-weight: 700;
  line-height: 24px;
  text-align : center;
  text-transform: uppercase;
  color      : @dark-slate-blue;

  background-color: @pale-grey-two;
  border-style    : none;
}
