.catalog-card {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;

  padding-top: 15px;
  padding-left: 19px;
  padding-right: 20px;
  padding-bottom: 22px;

  background-color: @white;
  border-radius: 20px;

  @media (min-width: @tablet-width) {
    padding: 35px 25px 0 35px;
  }


  @media (min-width: @desktop-width) {
    padding: 0;

    overflow: hidden;

    &::before {
      content: "";

      position: absolute;
      top: 50px;
      right: 320px;

      width: 1px;
      height: 187px;

      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.08) 25%, rgba(0, 0, 0, 0.08) 75%, rgba(0, 0, 0, 0) 100%);
    }
  }
}

.catalog-card__image-link {
  padding: 0;
  margin: 0;

  line-height: 0;

  @media (min-width: @tablet-width) {
    width: 190px;
    height: 190px;

    background-color: @aqua-marine;
  }

  @media (min-width: @desktop-width) {
    width: 285px;
    height: 285px;
  }
}

.catalog-card__image {
  border-radius: 50%;

  @media (min-width: @tablet-width) {
    border-radius: 20px;
  }
}

.catalog-card__name-activities-wrapper {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;

  margin-top: -70px;
  margin-bottom: 13px;

  @media (min-width: @tablet-width) {
    align-items: flex-start;

    width: 308px;
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    margin-top: 48px;
    width: 270px;
  }
}

.catalog-card__user-name {
  position: relative;

  width: 100px;
  margin-bottom: 45px;
  margin-left: 86px;

  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  color: @dark-slate-blue;
  text-decoration: none;

  &::before {
    content: "";

    position: absolute;
    top: 8px;
    left: 137px;

    display: block;
    width: 6px;
    height: 6px;

    border-radius: 50%;
    background-color: @green-apple;

    @media (min-width: @tablet-width) {
      top: 11px;
      left: unset;
      right: -28px;

      width: 7px;
      height: 7px;
    }

    @media (min-width: @desktop-width) {
      left: -25px;
    }
  }

  &--offline {
    &::before {
      background-color: @salmon;
    }
  }

  @media (min-width: @tablet-width) {
    width: auto;
    margin: 0;
    margin-top: -2px;
    margin-bottom: 18px;

    font-size: 30px;
    line-height: 30px;
  }
}

.catalog-card__tag-list {
  width: 170px;
  margin: 0;
  margin-left: 7px;
  padding: 0;

  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  color: @greyish-brown;

  @media (min-width: @tablet-width) {
    justify-content: space-between;
    width: 230px;
    margin: 0;

    font-size: 20px;
    line-height: 24px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 3px;
  }
}

.catalog-card__transport-level-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  order: 3;

  width: 100%;
  padding-left: 5px;
  margin-bottom: 14px;

  @media (min-width: @tablet-width) {
    flex-direction: column;

    width: auto;
    padding: 0;
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row;
    order: 5;

    margin-right: 44px;
    margin-top: -102px;
  }
}

.catalog-card__transportation-list {
  display: flex;
  .no-list();

  @media (min-width: @tablet-width) {
    flex-direction: column;

    margin-bottom: 10px;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row;

    margin: 0;
    margin-right: 44px;
  }
}

.catalog-card__transportation-icon {
  width: 33px;
  height: 33px;

  background-color: @pale-grey;
  border-radius: 50%;

  @media (min-width: @tablet-width) {
    width: 29px;
    height: 29px;
    margin-bottom: 2px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    margin-right: 4px;
  }
}

.catalog-card__level {
  position: relative;

  width: 45px;
  height: 45px;
  padding-top: 13px;

  border-radius: 50%;

  @media (min-width: @tablet-width) {
    padding-top: 14px;
    width: 60px;
    height: 60px;
  }
}

.catalog-card__level-number {
  margin: 0;
  margin-bottom: 2px;

  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  color: @dark-slate-blue;
}

.catalog-card__level-level {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;

    position: relative;
    margin: 0;

    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    text-align: center;
    color: @greyish-brown-40;

    &::before {
      content: "";

      position: absolute;
      top: -4px;
      left: 14px;

      display: block;
      height: 1px;
      width: 31px;

      background-color: @greyish-brown-10;
    }
  }
}

.catalog-card__level-circle {
  position: absolute;
  top: 0;
  left: 0;

  width: 45px;
  height: 45px;

  transform: rotate(-90deg);

  @media (min-width: @tablet-width) {
    width: 60px;
    height: 60px;
  }
}

.catalog-card__level-stroke {
  &--firsova {
    .progress-meter(31, 97);
  }

  &--demin {
    .progress-meter(31, 80);
  }

  &--smolov {
    .progress-meter(31, 25);
  }

  &--rogovaya {
    .progress-meter(31, 50);
  }
}

.catalog-card__likes-wrapper {
  display: flex;
  justify-content: flex-start;
  order: 4;

  width: 100%;

  @media (min-width: @tablet-width) {
    width: 300px;
    margin-left: 220px;
    margin-top: -55px;
    margin-bottom: 23px;
  }

  @media (min-width: @desktop-width) {
    order: 4;

    margin: 0;
    margin-left: 342px;
    margin-top: -97px;
  }
}

.catalog-card__button {
  flex-shrink: 0;
  width: 100%;

  padding-top: 11px;
  padding-bottom: 7px;

  @media (min-width: @tablet-width) {
    width: auto;
    padding-top: 16px;
    padding-bottom: 12px;
    padding-left: 31px;
    padding-right: 33px;
  }
}

.catalog-card__likes {
  position: absolute;
  top: 54px;
  left: 67px;

  display: flex;
  align-items: center;

  @media (min-width: @tablet-width) {
    position: initial;
  }
}

.catalog-card__like-button {
  display: block;

  width: 31px;
  height: 31px;

  background-color: @pale-grey;
  border-radius: 50%;

  @media (min-width: @tablet-width) {
    width: 50px;
    height: 50px;
  }
}

.catalog-card__likes-count {
  margin: 0;
  margin-left: 7px;

  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  text-align: left;
  color: @dark-blue-grey-nnm;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.catalog-card__visits-wrapper {
  order: 1;

  @media (min-width: @tablet-width) {
    order: 5;
    width: 100%;
  }

  @media (min-width: @desktop-width) {
    order: 3;
    flex-shrink: 0;

    margin-top: 49px;
    margin-right: 44px;
    width: 234px;
  }
}

.catalog-card__name-wrapper {
  display: flex;
  justify-content: space-between;
  order: 2;

  width: 100%;
  margin-bottom: 7px;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.catalog-card__item-headline {
  position: relative;

  margin: 0;
  margin-left: 8px;

  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  color: @greyish-brown;

  &::before {
    content: "";

    position: absolute;
    top: 8px;
    left: -27px;

    width: 14px;

    height: 1px;

    background-color: @greyish-brown-10;

    @media (min-width: @tablet-width) {
      left: -83px;

      width: 70px;
    }
  }

  &::after {
    content: "";

    position: absolute;
    top: 8px;
    left: 105px;

    width: 138px;

    height: 1px;

    background-color: @greyish-brown-10;

    @media (min-width: @tablet-width) {
      left: 105px;

      width: 500px;
    }
  }

  &--transport {
    &::after {
      content: none;
    }
  }

  @media (min-width: @tablet-width) {
    margin: 0;
    margin-left: 48px;
    margin-bottom: 17px;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.catalog-card__item-level {
  position: relative;

  margin: 0;
  margin-right: 3px;

  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  color: @greyish-brown;

  &::before {
    content: "";

    position: absolute;
    top: 8px;
    right: 51px;

    width: 91px;

    height: 1px;

    background-color: @greyish-brown-10;
  }

  &::after {
    content: "";

    position: absolute;
    top: 8px;
    left: 51px;

    width: 11px;

    height: 1px;

    background-color: @greyish-brown-10;
  }
}

.catalog-card__country-list {
  display: flex;
  flex-direction: column;

  .no-list();

  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 6px;

  @media (min-width: @tablet-width) {
    flex-direction: row;

    padding: 0;
  }

  @media (min-width: @desktop-width) {
    flex-direction: column;
  }
}

.catalog-card__country {
  display: flex;
  align-items: flex-start;

  &:not(:last-child) {
    margin-bottom: 10px;

    @media (min-width: @desktop-width) {
      margin-bottom: 12px;
    }
  }

  @media (min-width: @tablet-width) {
    margin: 0;
    margin-right: 28px;
  }
}

.catalog-card__country-flag {
  width: 26px;
  height: 18px;
  margin-right: 14px;

  @media (min-width: @tablet-width) {

    width: 35px;
    height: 24px;

    margin-right: 11px;
  }

  @media (min-width: @desktop-width) {
    margin-right: 19px;
  }
}

.catalog-card__country-name {
  margin: 0;
  padding-top: 3px;

  font-size: 15px;
  font-weight: 500;
  line-height: 15px;
  text-align: left;
  color: @dark-slate-blue;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    padding-top: 5px;

    font-size: 20px;
    line-height: 20px;
  }
}
