.catalog-travellers__list {
  .no-list();

  margin-bottom: 23px;

  @media (min-width: @tablet-width) {
    margin-bottom: 43px;
  }

  @media (min-width: @desktop-width) {
    order: 1;

    width: 950px;
    margin-bottom: 64px;
  }
}

.catalog-travellers__item {

  @media (max-width: @tablet-width - 1) {
    margin-bottom: 12px;

    &:nth-child(2) {
      margin-bottom: 16px;
    }

  }

  @media (min-width: @tablet-width) {
    margin-bottom: 40px;
    padding-bottom: 15px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 30px;
    padding: 0;
  }

  &:hover {
    box-shadow: 0 6px 21px 0 hsla(0, 0%, 0%, 0.08);

    & .catalog-card__image {
      transform: scale(1.1);
    }
  }
}
