.catalog-travellers__list {
  .no-list();

  @media (min-width: @desktop-width) {
    order: 1;

    width: 950px;
  }
}

.catalog-travellers__item {
  margin-bottom: 10px;

  @media (min-width: @tablet-width) {
    margin-bottom: 40px;
  }
}
