.country-card {
  // background-color: @white;
}

.country-card__desc-wrapper {
  margin-bottom: 10px;
  padding-top: 28px;
  padding-left: 24px;

  background-color: @white;
}

.country-card__country {
  margin: 0;

  font-size  : 21px;
  font-weight: 700;
  line-height: 21px;
  text-align : left;
  color      : @dark-blue-grey-nnm;
}

.country-card__visitors {
  margin: 0;

  font-size  : 16px;
  font-weight: 500;
  line-height: 30px;
  text-align : left;
  color      : @greyish-brown;
  opacity    : 0.3;
}

.country-card__expression {
  margin: 0;
  margin-left: 1px;

  font-size  : 16px;
  font-weight: 500;
  line-height: 18px;
  text-align : left;
  color      : @greyish-brown;
  opacity    : 0.3;
}
