.country-card {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: @white;
  border-radius: 10px;
  overflow: hidden;

  @media (min-width: @tablet-width) {
    flex-direction: row;

    border-radius: 20px;
  }
}

.country-card__image {
  @media (min-width: @tablet-width) {
    order: 2;
    margin: 15px 0; //TODO: Временно, для задания высоты карточки - макетной
  }
}

.country-card__flag {
  position: absolute;

  @media (min-width: @tablet-width) {
    left: 398px;
    top: 16px;
  }
}

.country-card__desc-wrapper {
  display: flex;
  flex-direction: column;

  background-color: @white;

  @media (min-width: @tablet-width) {
    order: 1;
    margin: 0;
    padding: 0;
  }
}

.country-card__country {
  margin: 0;

  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
  text-align: left;
  color: @dark-blue-grey-nnm;

  @media (min-width: @tablet-width) {
    font-size: 24px;
    line-height: 24px;
  }
}

.country-card__visitors {
  margin: 0;

  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
  color: @greyish-brown;
  opacity: 0.3;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.country-card__expression {
  margin: 0;
  margin-left: 1px;

  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  text-align: left;
  color: @greyish-brown;
  opacity: 0.3;

  @media (min-width: @tablet-width) {
    font-size: 20px;
  }
}
