.directions {
  background-color: @pale-grey;
  border-radius: 30px;
}

.directions__wrapper {
  padding-top: 72px;
  margin-left: 49px;
  margin-bottom: 66px;

  width: 195px;
}

.directions__list {
  margin: 0;
  margin-bottom: 25px;
  padding: 0 25px;

  list-style: none;
}
