.directions {
  position: relative;

  background-color: @pale-grey;
  border-radius: 0 0 30px 30px;

  .top-liner(-1);

  &::after {
    content: "";
    display: block;

    width: 100%;
    height: 1px;
    clear: both;
  }

  @media (min-width: @tablet-width) {
    border-radius: 0 0 60px 60px;
  }
}

.directions__container {
  position: relative;

  display: flex;
  flex-wrap: wrap;

  padding-bottom: 29px;


  @media (min-width: @tablet-width) {
    padding-bottom: 79px;
    padding-left: 75px;
    padding-right: 75px;

    background-image:
      url("../../img/flags-back@1x.png"),
      url("../../img/rounded-rectangle-grey_tablet.png");
    background-position: 439px 79px, 40px 406px;
    background-repeat: no-repeat;
  }

  @media (min-width: @desktop-width) {
    display: block;

    padding: 0;
    padding-left: 131px;
    padding-top: 161px;
    padding-right: 200px;
    padding-bottom: 138px;

    background-position: 1091px 88px, 60px 89px;
  }
}

.directions__description-wrapper {
  order: 1;

  padding-top: 72px;
  margin-left: 24px;
  margin-bottom: 60px;

  width: 216px;

  @media (min-width: @tablet-width) {
    padding-top: 73px;
    margin: 0;
    margin-bottom: 104px;
    width: 345px;
  }

  @media (min-width: @desktop-width) {
    display: inline-block;

    padding: 0;
    margin: 0;
    margin-top: 5px;
    margin-left: 172px;
    margin-bottom: 96px;
  }
}

.directions__text-block-headline {
  @media (min-width: @tablet-width) {
    margin-bottom: 58px;
  }
}

.directions__text-block-description {
  margin-left: 2px;

  @media (min-width: @desktop-width) {
    margin-left: 0;
  }
}

.directions__trick-wrapper {
  display: block;
}

.directions__trick-wrapper2 {
  display: block;

  @media (min-width: @tablet-width) {
    display: unset;
  }

  @media (min-width: @desktop-width) {
    display: unset;
  }
}

.directions__list {
  order: 2;

  margin: 0;
  padding: 0;
  margin-bottom: 16px;


  list-style: none;

  @media (min-width: @tablet-width) {
    width: 100%;
    margin-bottom: 37px;
  }

  @media (min-width: @desktop-width) {
    width: 559px;
    float: left;
  }
}

.directions__item {
  margin-bottom: 8px;

  @media (min-width: @tablet-width) {
    margin-bottom: 10px;
  }
}

.directions__button {
  order: 3;

  width: 100%;

  @media (min-width: @desktop-width) {
    display: inline-block;

    width: 274px;
    margin-left: 174px;
  }
}
