.first-step__input-list {
  .no-list();
  padding-left: 5px;
  padding-right: 5px;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;

    padding: 0;
  }

  @media (min-width: @desktop-width) {
    justify-content: space-between;
    align-items: center;

    padding-top: 30px;
    margin-bottom: 32px;

    border-top: 1px solid @light-blue-grey-three;
  }
}

.first-step__input-item {
  width: 100%;
  margin-bottom: 20px;

  &--search-travellers,
  &--trip-duration {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  &--children {
    margin-bottom: 22px;

    label {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      font-size: 15px;
      font-weight: 400;
      font-style: normal;
      font-stretch: normal;
      line-height: 15px;
      letter-spacing: normal;
      color: @greyish-brown;
    }
  }

  @media (min-width: @tablet-width) {

    &--search-travellers {
      margin-bottom: 25px;
      padding-top: 22px;
      border-top: 1px solid @light-blue-grey-three;
    }

    &--trip-duration {
      order: 2;

      margin-bottom: 59px;
      padding-top: 22px;
      border-top: 1px solid @light-blue-grey-three;
    }

    &--children {
      margin-bottom: 26px;
      order: 1;

      label {
        font-size: 20px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 2px;
        text-align: left;
        color: @dark-slate-blue;
        text-transform: uppercase;
      }
    }
  }

  @media (min-width: @desktop-width) {
    width: auto;

    &--search-travellers,
    &--trip-duration {
      justify-content: flex-end;

      width: 538px;

      border: none;
      padding: 0;
      margin: 0;
    }

    &--search-travellers {
      margin-bottom: 14px;
    }

    &--children {
      margin-bottom: 14px;
      margin-right: -2px;
    }
  }
}

.first-step__text-label {
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 1.6px;
  color: @dark-slate-blue;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 2px;
  }

  @media (min-width: @desktop-width) {
    flex-grow: 1;
  }
}

.first-step__text-input {
  width: 100%;
  margin-top: 9px;
  padding: 0;
  padding-top: 12px;
  padding-bottom: 11px;

  font-size: 15px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 1.5px;
  text-align: center;
  color: @dark-slate-blue;

  border-radius: 4px;
  border: 1px solid @cloudy-blue;
  background-color: @white;

  &:hover {
    border-color: @dark-blue-grey-five;
  }

  &:active {
    border-color: @dark-blue-grey-nnm;
  }

  @media (min-width: @tablet-width) {
    margin-top: 25px;
    padding-top: 20px;
    padding-bottom: 24px;

    font-size: 20px;
    line-height: 20px;
    letter-spacing: 2px;
  }

  @media (min-width: @desktop-width) {
    order: 1;

    margin-top: 0;
  }
}

.first-step__text-unit {
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 1.6px;
  color: @dark-slate-blue;
  text-transform: uppercase;
  opacity: 0.3;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 2px;
  }

  @media (min-width: @desktop-width) {
    order: 1;

    width: 100px;
    margin-left: 36px;

    opacity: 1;
  }
}

.first-step__text-wrapper {
  position: relative;

  width: 100%;

  @media (min-width: @desktop-width) {
    width: 181px;
  }
}

.first-step__del-button,
.first-step__add-button,
.first-step__month-switcher-button {
  padding: 0;

  font-size: 0;
  opacity: 0.3;

  border: none;
  background-color: transparent;

  cursor: pointer;

  &:hover {
    opacity: 0.4;
  }

  &:active {
    opacity: 0.1;
  }
}

.first-step__del-button {
  position: absolute;
  top: 30px;
  left: 14px;

  &:active {
    &~.first-step__text-input {
      border-color: @dark-blue-grey-nnm;
    }
  }

  @media (min-width: @tablet-width) {
    top: 59px;
    left: 24px;
  }

  @media (min-width: @desktop-width) {
    top: 34px;
    left: 20px;
  }
}

.first-step__add-button {
  position: absolute;
  top: 24px;
  right: 14px;

  &:active {
    &~.first-step__text-input {
      border-color: @dark-blue-grey-nnm;
    }
  }

  @media (min-width: @tablet-width) {
    top: 50px;
    right: 20px;
  }

  @media (min-width: @desktop-width) {
    top: 25px;
  }
}

.first-step__minus {
  width: 14px;
  height: 2px;

  @media (min-width: @tablet-width) {
    width: 20px;
  }
}

.first-step__plus {
  width: 14px;
  height: 14px;

  @media (min-width: @tablet-width) {
    width: 20px;
    height: 20px;
  }
}

.first-step__checkbox-tick {
  display: none;

  width: 9px;
  height: 9px;

  @media (min-width: @tablet-width) {
    width: 12px;
    height: 12px;
  }
}

.first-step__children-checkbox {
  &:hover {
    &+label {
      .first-step__checkbox-form {
        border-color: @dark-blue-grey-five;
      }
    }
  }

  &:checked {
    &+label {
      .first-step__checkbox-tick {
        display: block;
      }
    }
  }

  &:active {
    &+label {
      .first-step__checkbox-form {
        background-color: @pale-grey-two;
        border-color: $background-color;
      }

      .first-step__checkbox-tick {
        opacity: 0.3;
      }
    }
  }
}

.first-step__checkbox-form {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 26px;
  height: 26px;
  margin-right: 13px;

  border-radius: 4px;
  border: 1px solid @cloudy-blue;
  background-color: @white;

  @media (min-width: @tablet-width) {
    width: 36px;
    height: 36px;
    margin-right: 24px;
  }
}

.first-step__month-wrapper {
  padding-right: 5px;
  padding-left: 5px;
  margin-bottom: 23px;

  @media (min-width: @tablet-width) {
    padding: 0;
    margin-bottom: 47px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 56px;
  }
}

.first-step__month-switcher {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  padding-top: 10px;
  padding-bottom: 12px;
  margin-bottom: 23px;

  border-top: 1px solid @cloudy-blue;
  border-bottom: $border-top;

  @media (min-width: @tablet-width) {
    padding-top: 29px;
    padding-bottom: 28px;
    padding-left: 18px;
    padding-right: 18px;
    margin-bottom: 38px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 27px;
    padding-bottom: 24px;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 17px;
  }
}

.first-step__month-switcher-button {
  &:hover {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.1;
  }

  img {
    width: 9px;
    height: 17px;

    @media (min-width: @tablet-width) {
      width: 15px;
      height: 28px;
    }

    @media (min-width: @desktop-width) {
      width: 18px;
      height: 34px;
    }
  }
}

.first-step__current-month {
  margin: 0;

  font-size: 20px;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: 20px;
  letter-spacing: normal;
  text-align: center;
  color: @dark-slate-blue;

  @media (min-width: @tablet-width) {
    font-size: 36px;
  }
}
