.form-main__personal-info {
  position: relative;
  .top-liner(-1);
  .bottom-liner(-1);
}

.form-main__my-plans,
.form-main__add-plan {
  position: relative;

  border-radius: 30px 30px 0 0;

  @media (min-width: @desktop-width) {
    border-radius: 60px 60px 0 0;
  }

  .bottom-liner(-1);
}

.form-main__button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  padding-top: 11px;
  padding-bottom: 11px;

  text-transform: uppercase;

  border-radius: 20px;

  img {
    display: none;
  }

  @media (min-width: @tablet-width) {
    justify-content: space-evenly;

    width: 285px;
    padding-top: 28px;
    padding-bottom: 29px;

    text-transform: initial;

    img {
      display: block;
    }
  }

  &--backward {
    padding: 0;

    border-radius: initial;
    background-color: initial;

    &:hover {
      background-color: initial;
      opacity: 0.7;
    }

    &:active {
      background-color: initial;
    }

    @media (min-width: @tablet-width) {
      justify-content: space-between;
      width: 179px;
    }
  }

  &--pattern {
    margin-bottom: 17px;

    border: none;

    @media (min-width: @tablet-width) {
      margin-bottom: 0;
    }
  }
}

.form-main__button-wrapper {
  display: flex;
  flex-wrap: wrap;

  @media (min-width: @tablet-width) {
    justify-content: space-between;
  }
}
