.main-card {
  background-color: @white;
  border-radius: 10px;
  overflow: hidden;

  @media (min-width: @tablet-width) {
    border-radius: 20px;
  }
}

.main-card__photo-wrapper {
  position: relative;

  line-height: 0;
}

.main-card__person-image {
  @media (min-width: @tablet-width) {
    width: 285px;
    height: 285px;
  }
}

.main-card__level {
  position: absolute;
  top: 16px;
  left: 17px;

  width: 60px;
  height: 60px;

  padding-top: 14px;

  border-radius: 50%;
  background-color: @black-60;

  @media (min-width: @tablet-width) {
    top: 23px;
    left: 23px;
  }
}

.main-card__level-number {
  margin: 0;
  margin-bottom: 2px;

  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  color: @white;
}

.main-card__level-level {
  position: relative;
  margin: 0;

  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-align: center;
  color: @white;

  &::before {
    content: "";

    position: absolute;
    top: -4px;
    left: 14px;

    display: block;
    height: 1px;
    width: 31px;

    background-color: @white;
    opacity: 0.6;
  }
}

.main-card__level-circle {
  position: absolute;
  top: 0;
  left: 0;

  width: 60px;
  height: 60px;

  transform: rotate(-90deg);
}

.main-card__level-stroke {
  &--firsova {
    .progress-meter(29, 96);
  }

  &--demin {
    .progress-meter(29, 80);
  }
}

.main-card__cards-wrapper {
  display: flex;
  flex-direction: column;

  transform: translate(0, -12px);
}

.main-card__country-list {
  display: flex;
  justify-content: center;

  margin: 0;
  margin-bottom: 14px;
  padding: 0;

  list-style: none;

  @media (min-width: @tablet-width) {
    margin-bottom: 19px;
  }
}

.main-card__country {
  margin-left: 9px;
  margin-right: 9px;

  line-height: 0;
}

.main-card__country-flag {
  width: 35px;
  height: 24px;
}

.main-card__user-name {
  position: relative;

  align-self: center;

  margin-bottom: 15px;

  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
  text-align: center;
  color: @dark-slate-blue;
  text-decoration: none;

  &::before {
    content: "";

    position: absolute;
    top: 7px;
    left: -16px;

    display: block;
    width: 5px;
    height: 5px;

    border-radius: 50%;
    background-color: @green-apple;
  }

  &--offline {
    &::before {
      background-color: @salmon;
    }
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 21px;

    font-size: 24px;
    line-height: 24px;

    &::before {
      top: 8px;
      left: -21px;

      width: 7px;
      height: 7px;
    }
  }
}

.main-card__tag-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin: 0;
  margin-bottom: 16px;
  padding: 0 40px;

  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  color: @greyish-brown;
  list-style: none;

  &--demin {
    padding-left: 55px;
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 24px;
    padding: 0 30px;

    font-size: 20px;
    line-height: 24px;
  }
}

.main-card__transportation-list {
  justify-content: space-between;

  padding: 0 75px;
  margin-bottom: 10px;

  @media (min-width: @tablet-width) {
    padding: 0 82px;
    margin-bottom: 17px;
  }
}
