.main-travellers {
  background-color: @dark-blue-grey;
  background-image: url("../../img/rogovaya-back-mobile@1x.png"), url("../../img/smolov-back-desktop@1x.png");
  background-position: right top, left top;
  background-repeat: no-repeat, no-repeat;
  border-radius: 30px;
}

.main-travellers__wrapper {
  padding-top: 73px;
  margin-left: 50px;
  margin-bottom: 60px;

  width: 215px;
}

.main-travellers__list {
  margin: 20px 0;
  padding: 0 25px;

  list-style: none;
}
