.main-card {
  background-color: @white;
  border-radius: 10px;
  overflow: hidden;
}

.main-card__photo-wrapper {
  position: relative;
}

.main-card__level {
  position: absolute;
  top: 16px;
  left: 16px;

  width: 60px;
  height: 60px;

  border-radius: 50%;
  background-color: @black;
  opacity: 0.6;
}

.main-card__level-number {
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  color: @white;
}

.main-card__level-level {
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-align: center;
  color: @white;
}

.main-card__user-name {
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
  text-align: center;
  color: @dark-slate-blue;
  text-decoration: none;
}

.main-card__tag-list {
  margin: 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 177px;

  list-style: none;
}

.main-card__tag {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  color: @greyish-brown;
}

.main-card__transportation-list {
  margin: 0;
  padding: 0;

  text-align: center;

  list-style: none;
}

.main-card__transportation-icon {
  display: inline;
}
