.main-nav {
  background-color: @white;
}

.main-nav__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin-top: 48px;
  margin-bottom: 51px;
}

.main-nav__list {
  margin: 0;
  margin-bottom: 48px;
  padding: 0;
}

.main-nav__login {
  padding-top: 12px;
  padding-bottom: 8px;
}
