.map {
  border-color: @aqua-marine;
  background-image: url("../img/map-image-mobile@1x.png");

  background-position: 0 0;
  background-repeat: no-repeat;

  @media (min-width: @tablet-width) {
    background-image: url("../img/map-image-tablet@1x.png");
  }

  @media (min-width: @desktop-width) {
    background-image: url("../img/map-image-desktop@1x.png");
  }
}

.map__container {
  height: 340px;
  padding: 0;

  @media (min-width: @tablet-width) {
    height: 569px;
  }

  @media (min-width: @desktop-width) {
    height: 445px;
  }

  iframe {
    width: 100%;
    height: 100%;
  }
}
