.our-location {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  background-color: @light-gold;
  // border-radius: 0 0 30px 30px;

  @media (min-width: @tablet-width) {
    padding-left: 75px;
    padding-right: 75px;
  }

  @media (min-width: @desktop-width) {
    justify-content: flex-end;

    padding-left: 132px;
    padding-right: 132px;
  }
}

.our-location__address {
  width: 145px;
  margin: 0;
  margin-bottom: 32px;

  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  text-align: left;
  color: @dark-blue-grey;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    width: auto;

    font-size: 28px;
    line-height: 28px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
  }
}
