.oval-button {
  border-radius: 25px;
  background-color: @light-gold;

  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  color: @dark-blue-grey-nnm;
  text-decoration: none;
  text-transform: uppercase;
}
