.page-main__text-block-headline {
  margin: 0;
  margin-bottom: 19px;

  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  color: @mango-two;

  @media (min-width: @tablet-width) {
    font-size: 45px;
    line-height: 45px;
  }
}

.page-main__text-block-description {
  margin: 0;

  font-size: 16px;
  font-weight: 300;
  line-height: 22px;

  &--grey {
    color: @greyish-brown;
  }

  @media (min-width: @tablet-width) {
    font-size: 28px;
    line-height: 33px;
  }
}

.page-main__text-block-conclusion {
  margin: 0;

  font-weight: 700;
  line-height: 22px;
  text-align: left;

  @media (min-width: @tablet-width) {
    font-size: 21px;
    line-height: 25px;
  }
}

.page-main__button {
  display: flex;
  justify-content: space-between;
  align-items: center;


  width: 246px;
  padding-top: 22px;
  padding-bottom: 22px;
  padding-right: 23px;
  padding-left: 24px;

  @media (min-width: @tablet-width) {
    padding-top: 28px;
    padding-bottom: 29px;
    padding-right: 36px;
    padding-left: 34px;
  }
}
