.page-header {
  position: relative;

  background-image: linear-gradient(to bottom, @dark-blue-grey-nnm 763px, @dark-blue-grey 763px);

  @media (min-width: @tablet-width) {
    background-image: none;
    background-color: @dark-blue-grey;
  }

  @media (min-width: @desktop-width) {
    background-color: @dark-blue-grey-nnm;
    border-radius: 0 0 60px 60px;

    overflow: hidden;
  }
}

.page-header__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  background-image:
    linear-gradient(@dark-blue-grey-nnm),
    url("../../img/traveller-illustration-mobile@1x.png"),
    url("../../img/globe-back-mobile@1x.jpg");
  background-position: 0 478px, 79px 223px, 0 0;
  background-size: auto 285px, auto, auto;
  background-repeat: no-repeat;


  @media (min-width: @tablet-width) {
    background-image:
      url("../../img/traveller-illustration-tablet@1x.png"),
      url("../../img/globe-back-tablet@1x.jpg");
    background-position: 285px 403px, -356px 382px; //TODO: -356px 370px, для соответствия глобуса макету
    background-size: auto;
    background-repeat: no-repeat;
  }

  @media (min-width: @desktop-width) {
    justify-content: flex-start;

    background-image:
      url("../../img/traveller-illustration-desktop@1x.png"),
      url("../../img/globe-back-desktop@1x.jpg");
    background-position: 604px 110px, -180px 0;
  }

  @media (min-resolution: @retina-dpi) {
    background-image:
      linear-gradient(@dark-blue-grey-nnm),
      url("../../img/traveller-illustration-mobile@2x.png"),
      url("../../img/globe-back-mobile@2x.jpg");
    background-position: 0 478px, 79px 223px, 0 0;
    background-size: auto 285px, 192px 255px, 320px 569px;
    background-repeat: no-repeat;

    @media (min-width: @tablet-width) {
      background-image:
        url("../../img/traveller-illustration-tablet@2x.png"),
        url("../../img/globe-back-tablet@2x.jpg");
      background-size: 372px 451px, 1479px 612px;
      background-position: 285px 403px, -356px 382px;
      background-repeat: no-repeat;
    }

    @media (min-width: @desktop-width) {
      justify-content: flex-start;

      background-image:
        url("../../img/traveller-illustration-desktop@2x.png"),
        url("../../img/globe-back-desktop@2x.jpg");
      background-size: 431px 640px, 1800px 750px;
      background-position: 604px 110px, -180px 0;
    }
  }
}

.page-header__header-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  width: 100%;

  @media (min-width: @tablet-width) {
    max-width: 355px;
  }

  @media (min-width: @desktop-width) {
    max-width: 735px;
  }
}

.page-header__logo {
  display: flex;
  align-items: center;

  height: 73px;

  @media (min-width: @tablet-width) {
    height: 132px;
  }

  @media (min-width: @desktop-width) {
    height: 147px;
  }
}

.page-header__logo-image {
  width: auto;
}

.page-header__contacts {
  margin: 0;
}

.page-header__social {
  margin: 0;
}

.page-header__toggle {
  position: relative;
  padding: 0;
  width: 19px;
  height: 19px;

  font-size: 0;
  background: 0;
  border: 0;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 4px;
    right: 0;

    display: block;
    height: 3px;
    width: 25px;

    background-color: @white;
    border-radius: 3px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 12px;
    right: 0;

    display: block;
    height: 3px;
    width: 25px;

    background-color: @white;
    border-radius: 3px;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.page-header__mobile-wrapper {
  display: none;
}

.page-header__reviews {
  margin: 0;
  margin-left: 26px;
  margin-right: 85px;
  margin-bottom: 40px;

  @media (min-width: @tablet-width) {
    order: 4;

    margin: 0;
    margin-bottom: 231px;
    padding-left: 34px;

    width: 300px;
  }

  @media (min-width: @desktop-width) {
    width: 285px;
    margin: 0;
    margin-top: 60px;
    padding: 0;
    padding-right: 20px;
  }
}

.page-header__steps {
  order: 5;

  width: 100%;
  margin: 0;
  margin-bottom: 39px;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;

    margin-bottom: 20px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 120px;
    margin-bottom: 143px;
  }
}

.page-header__title {
  padding: 0 15px;
  margin: 0;
  margin-top: 21px;
  margin-bottom: 245px;

  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  color: @white;

  @media (min-width: @tablet-width) {
    order: 3;

    margin-top: 30px;
    margin-bottom: 86px;
    padding: 0 145px;

    font-size: 60px;
    line-height: 70px;
  }

  @media (min-width: @desktop-width) {
    width: 395px;
    margin: 0;
    margin-top: 63px;
    margin-left: 67px;
    margin-right: auto;
    padding: 0;

    text-align: left;
  }
}

.page-header__button-list {
  display: flex;

  width: 100%;
  margin: 0;
  margin-bottom: 25px;
  padding: 0;

  list-style: none;

  @media (min-width: @tablet-width) {
    order: 2;

    width: auto;
    margin-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    margin-left: auto;
  }

  &--non-main {
    display: none;

    @media (min-width: @tablet-width) {
      display: flex;
    }
  }
}

.page-header__button-item {
  &--login {
    flex-grow: 1;
  }
}

.page-header__item {
  display: block;

  width: 40px;
  height: 40px;

  border-radius: 20px;

  background-color: @light-gold;

  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: block;

    width: 50px;
    height: 50px;

    border-radius: 50%;
  }

  &--call {
    background-color: @mango-two;
  }

  &--email {
    background-color: @mango-three;
  }

  &--login {
    display: block;

    width: 189px;

    line-height: 40px;

    @media (min-width: @tablet-width) {
      height: 50px;
      width: 188px;

      line-height: 50px;
      border-radius: 25px;
    }
  }
}
