.registration {
  position: relative;

  .top-liner(-1);

  background-color: @dark-blue-grey;
  border-radius: 0 0 30px 30px;

  @media (min-width: @tablet-width) {
    border-radius: 0 0 60px 60px;
  }
}

.registration__container {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-bottom: 27px;

  @media (min-width: @tablet-width) {
    padding-left: 75px;
    padding-right: 75px;
    padding-bottom: 60px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 132px;
    padding-right: 132px;
    padding-bottom: 102px;
  }
}

.registration__text-block-headline {
  margin-top: 72px;
  margin-bottom: 19px;

  @media (min-width: @tablet-width) {
    margin-top: 76px;
    margin-bottom: 56px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 107px;
    margin-left: 5px;
  }
}

.registration__text-block-description {
  margin: 0;
  margin-bottom: 29px;
  width: 200px;

  text-align: center;

  @media (min-width: @tablet-width) {
    width: 610px;
    margin-bottom: 64px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 58px;
  }
}

.registration__trick-wrapper {
  display: block;

  @media (min-width: @tablet-width) {
    display: inline;
  }
}

.registration__trick-wrapper2 {
  display: block;
}

.registration__trick-wrapper3 {
  display: block;

  @media (min-width: @tablet-width) {
    display: inline;
  }
}

.registration__authorization-link {
  color: @light-gold;
  text-decoration: underline;

  @media (min-width: @tablet-width) {
    text-decoration: none;

    border-bottom: 1px solid @light-gold;
  }

  &:hover {
    color: @mango-five;
    border-color: @mango-five;
  }

  &:active {
    color: @mango-five;
    border-color: @mango-five;
    opacity: 0.3;
  }
}

.registration__form {
  display: flex;

  width: 100%;
  height: 62px;
  margin-bottom: 29px;

  background-color: @white;
  border-radius: 10px;

  @media (min-width: @tablet-width) {
    height: 81px;
    margin-bottom: 59px;

    background-color: inherit;
    border-radius: none;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 70px;
  }
}

.registration__email {
  position: relative;

  width: 100%;
  padding-top: 21px;
  padding-bottom: 21px;
  padding-left: 24px;
  box-sizing: border-box;

  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  text-align: left;

  border: none;
  border-radius: 10px 0 0 10px;

  &::placeholder {
    color: @greyish-brown-30;
  }

  @media (min-width: @tablet-width) {
    padding-left: 35px;

    font-size: 24px;
    line-height: 24px;

    border-radius: 20px 0 0 20px;
  }

  &:hover {
    background-color: @pale-grey;

    &::placeholder {
      color: @greyish-brown-50;
    }
  }

  &:active {
    color: @white;

    background-color: @dark-blue-grey;
    border: 4px solid white;
  }

  &:invalid {
    color: @red;

    background-color: @rose;
  }
}

.registration__button {
  flex-shrink: 0;
  justify-content: center;

  width: 60px;
  height: 100%;
  margin: 0;
  padding: 0;

  border-style: none;
  border-radius: 10px;

  @media (min-width: @tablet-width) {
    width: 82px;

    border-radius: 0 20px 20px 0;
  }

  @media (min-width: @desktop-width) {
    justify-content: space-between;

    width: 324px;
    padding-left: 36px;
    padding-right: 36px;
  }
}

.registration__button-name {
  display: none;

  @media (min-width: @desktop-width) {
    display: inline;
  }
}

.registration__qa-wrapper {
  width: 100%;
  margin-bottom: 19px;

  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  text-align: center;
  color: @white;

  @media (min-width: @tablet-width) {
    margin-bottom: 40px;

    font-size: 28px;
    line-height: 33px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 47px;

    line-height: 28px;
  }
}

.registration__contacts {
  display: flex;
  flex-wrap: wrap;
  align-self: flex-start;

  margin: 0;

  @media (min-width: @tablet-width) {
    width: 400px;
  }

  @media (min-width: @desktop-width) {
    align-self: center;
    justify-content: space-between;

    width: 867px;
  }
}

.registration__contact {
  display: flex;
  align-items: center;
}
