.registration {
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 29px;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: @dark-blue-grey;
  border-radius: 30px;
  overflow: hidden;
}

.registration__text-block-headline {
  margin-top: 129px;
  margin-bottom: 23px;
}

.registration__enticement-wrapper {
  margin-bottom: 32px;
  width: 200px;
}

.registration__text-block-description {
  margin: 0;

  text-align: center;
}

.registration__authorization-link {
  color: @light-gold;
  text-decoration: none;
}

.registration__form {
  position: relative;

  width: 100%;
  height: 62px;
  margin-bottom: 32px;
}

.registration__email {
  width: 100%;
  padding-top: 21px;
  padding-bottom: 21px;
  padding-left: 24px;
  box-sizing: border-box;

  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  text-align: left;

  border: none;
  border-radius: 10px;

  &::placeholder {
    color: @greyish-brown-30;
  }
}

.registration__button {
  position: absolute;
  top: 0;
  right: 0;

  width: 60px;
  height: 100%;
  margin: 0;
  padding: 0;

  border-style: none;
}

.registration__qa-wrapper {
  width: 210px;
  margin-bottom: 20px;

  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  text-align: center;
  color: @white;
}

.registration__answer {
  white-space: nowrap;
}

.registration__contacts {
  width: 100%;
}
