.social {
  display: flex;
  justify-content: center;

  padding: 0;

  list-style: none;
}

.social__item {
  width: 45px;
  height: 45px;

  background-color: @light-gold;
  border-radius: 50%;
}

.social__item--transparent {
  background-color: transparent;

  border: 1px dashed red; //Временно, для разметки
}
