.social {
  display: flex;
  justify-content: center;

  padding: 0;

  list-style: none;
}

.social__link {
  display: block;

  width: 45px;
  height: 45px;

  border-radius: 50%;

  &--footer {
    background-color: @light-gold;
  }

  @media (min-width: @tablet-width) {
    width: 60px;
    height: 60px;
  }
}
