@leaf: hsl(97, 53%, 47%);
@aqua-marine: hsl(171, 48%, 55%);
@very-light-pink: hsl(0, 0%, 95%);
@seafoam-blue: hsl(168, 54%, 60%);
@white-two: hsl(0, 0%, 95%);
@dark-blue-grey: hsl(229, 46%, 18%);
@lipstick: hsl(344, 68%, 49%);
@pale-grey: hsl(227, 33%, 95%);
@pale-grey-two: hsl(228, 26%, 96%);
@pale-grey-three: hsl(229, 38%, 92%);
@light-gold: hsl(47, 100%, 65%);
@mango: hsl(34, 100%, 59%);
@mango-two: hsl(27, 100%, 59%);
@mango-three: hsl(41, 100%, 59%);
@greyish-brown: hsl(0, 0%, 27%);
@greyish-brown-30: hsla(0, 0%, 27%, 0.3);
@dark-blue-grey-two: hsl(229, 49%, 15%);
@dark-slate-blue: hsl(224, 52%, 24%);
@dark-blue-grey-three: hsl(228, 50%, 14%);
@dark-blue-grey-nnm: hsl(228, 41%, 15%);
@medium-pink: hsl(354, 81%, 63%);
@french-blue: hsl(230, 41%, 47%);
@salmon: hsl(0, 92%, 72%);
@green-apple: hsl(90, 78%, 50%);
@white: hsl(0, 0%, 100%);
@very-dark-brown: hsl(0, 100%, 0%);
@black: hsl(0, 0%, 0%);
@black-5: hsla(0, 0%, 0%, 0.05);
@white-15: hsla(0, 0%, 100%, 0.15);
@dark-slate-blue-10: hsla(224, 52%, 24%, 0.1);
